/* css styles */

body {
  
}

.home-page {
  background-image: url('images/network.jpg');
  background-size: 300px; 
  background-position: right bottom ; /* 120% 50% or right bottom*/ 
  background-repeat: no-repeat;
  min-height: 50vh; 
  position: relative;
  /*padding: 20px; */
}

@media (min-width: 1200px) {
  .navbar {
      padding: 20px;       /* パディングを大きくする */
      font-size: 20px;     /* フォントサイズを大きくする */
  }

  .home-page {
    padding: 0px
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .navbar {
      padding: 12px;       /* パディングを少し減らす */
      font-size: 16px;     /* フォントサイズを少し小さくする */
  }
}

@media (max-width: 767px) {
  .navbar {
      padding: 10px;       /* パディングをさらに減らす */
      font-size: 14px;     /* フォントサイズをさらに小さくする */
  }

  .home-page {
    background-size: 300px; 
    background-position: right bottom ; /* 120% 50% or right bottom*/ 
    background-repeat: no-repeat;
    min-height: 50vh; 
    
  }
}