
.pub {
    font-family: Nanum Gothic;
    width: 70%;           
    max-width: 1200px;    
    margin: 0 auto;       
    padding: 20px ;
}
  
.pub li {
  font-family: Nanum Gothic;
  font-size: 110%;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 5%;
  line-height: 1.6;
}

ol {
  counter-reset: item;
  list-style-type:none;
  text-indent: -20px;
  background-color: #e9e7e7ef;
  padding: 2% 5%;
  border:5px solid rgba(209, 208, 207, 0.863)
}

ol li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
  font-weight: bold;
  color: #333; 
}

.pubtop {
  display: inline-block; /* インラインブロックで表示 */
  align-items: center;
  padding: 10px 20px; /* 上下の余白10px、左右の余白20px */
  margin-top: 2%;
  margin-left: 20%;
  background-color: #4c72af; /* ボタンの背景色 */
  color: white; 
  text-decoration: none; 
  border-radius: 25px;
  font-size: 16px; 
  transition: background-color 0.3s;
}

.pubtop:hover {
  background-color: #4c7fafde;
}

@media (max-width: 767px) {

  .pub {
    font-family: Nanum Gothic;
    width: 80%;           
    max-width: 1200px;    
    margin: 0 auto;       
  }

  .pub li {
    font-size: 100%;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 3%;
    line-height: 1.6;
  }

  .pubtop {
    display: inline-block; /* インラインブロックで表示 */
    align-items: center;
    padding: 10px 20px; 
    margin-top: 2%;
    margin-left: 10%;
    background-color: #4c72af; /* ボタンの背景色 */
    color: white; 
    text-decoration: none; 
    border-radius: 25px;
    font-size: 16px; 
    transition: background-color 0.3s;
  }
}