/* css styles */
html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #eee9dd5d;
  font-family: Arial, sans-serif;
}

header {
  font-family: 'Nanum Gothic';
  width: 100%;
}

.title {
  display: flex; /* フレックスボックスを使用 */
  justify-content: flex-start;
}

.header1 {
  display: flex; /* フレックスボックスを使用 */
  justify-content: space-between;
  align-items: center;
  background-color: #012821d4; /* 背景色を設定 */
  padding: 5px 0px 5px 0;  /* パディングを設定 */
  color: rgb(255, 255, 255);
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
}

.title a {
  text-decoration: none; /* 下線を削除 */
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.lang {
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
}

.lang a {
  text-decoration: none; /* 下線を削除 */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
  .navbar {
      padding: 20px;       /* パディングを大きくする */
      font-size: 20px;     /* フォントサイズを大きくする */
  }

  .home-page {
    padding: 0px
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .navbar {
      padding: 12px;       /* パディングを少し減らす */
      font-size: 16px;     /* フォントサイズを少し小さくする */
  }
}

@media (max-width: 767px) {
  .navbar {
      padding: 10px;       /* パディングをさらに減らす */
      font-size: 14px;     /* フォントサイズをさらに小さくする */
  }

  body {
    font-size: 90%;
  }

  .header1 {
    background-color: #c3dad5d4; /* 背景色を設定 */
    padding: 5px 0px 5px 0;  /* パディングを設定 */
    color: rgb(0, 77, 54);
  }
  
  .lang a, .title a {
    text-decoration: none; /* 下線を削除 */
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 77, 54);
  }

}
