
<!-- Configs -->
    {%- assign go_to_en = page.en_path -%}
    {%- assign en_title = "English " -%}
    {%- assign go_to_ja = page.ja_path -%}
    {%- assign ja_title = " 日本語" -%}

    {%- if page.lang == "en" -%}        
        {%- assign home = "/index_en.html" | relative_url -%}
    {%- else -%}
        {%- assign home = "/" | relative_url -%}   
    {%- endif -%}

<!-- Main -->
<div class="layout_lang">
    <a class="title" href="{{ home }}">Hiroaki Fujita's Website</a>
    <div class="lang">
        <a href="{{ go_to_en }}">{{ en_title }}</a>/<a href="{{ go_to_ja }}">{{ ja_title }}</a>
    </div>
</div>
    

