<script>
  document.addEventListener('DOMContentLoaded', function() {
      var dropdowns = document.querySelectorAll('nav > ul > li');
  
      dropdowns.forEach(function(dropdown) {
          dropdown.addEventListener('click', function() {
              var openDropdown = document.querySelector('nav .show');
              if (openDropdown && openDropdown !== dropdown) {
                  openDropdown.classList.remove('show');
              }
              dropdown.classList.toggle('show');
          });
      });
  
      // ドキュメント内のどこかをクリックしたときにドロップダウンを閉じる
      document.addEventListener('click', function(e) {
          if (!e.target.closest('nav')) {
              document.querySelectorAll('nav .show').forEach(function(openDropdown) {
                  openDropdown.classList.remove('show');
              });
          }
      });
  });
</script>
  
<script>
  function toggleMenu() {
    var menu = document.getElementById("nav-menu");
    if (menu.classList.contains("show")) {
      menu.classList.remove("show");
    } else {
      menu.classList.add("show");
    }
  }
</script>

{%- if page.lang == "en" -%}

  <nav>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
      <ul id="nav-menu">
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/about/index.html" | relative_url }}">About</a></li>
        <li><a href="{{ "/publications/index.html" | relative_url }}">Publication</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Documents</a>
          <ul class="dropdown-content">
            <li><a href="{{ "/_contents/documents/r/start.html" | relative_url }}">R</a></li>
            <li><a href="{{ "/_contents/documents/bioinfo" | relative_url }}">Bioinfo</a></li>
          </ul>
        </li>
      </ul>
  </nav>
  
  {%- else -%}

  <nav>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
      <ul id="nav-menu">
        <li><a href="{{ "/index_jp.html" | relative_url }}">Home</a></li>
        <li><a href="{{ "/about_jp/index.html" | relative_url }}">About</a></li>
        <li><a href="{{ "/publications_jp/index.html" | relative_url }}">Publication</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Documents</a>
          <ul class="dropdown-content">
            <li><a href="{{ "/_contents/documents/r/start.html" | relative_url }}">R</a></li>
            <li><a href="{{ "/_contents/documents/bioinfo" | relative_url }}">Bioinfo</a></li>
          </ul>
        </li>
      </ul>
  </nav>

{%- endif -%}
