
<script type="text/javascript">
  $(function(){
    
    $("ul.dropdown li").click(function(e){
      e.stopPropagation(); 
      $(this).siblings().find("ul").slideUp(150); 
      $(this).children("ul").slideToggle(150); 
    });

    $('html').click(function() {
      $('ul.dropdown ul').slideUp(150);
    });
  });
</script>

<!-- lang swithch -->
{%- if page.lang == "ja" -%}        
      {%- assign lang = "ja" -%}
  {%- else -%}
      {%- assign lang = "en" -%}   
{%- endif -%}

<!-- Main -->
<nav class="layout_navbar">
  <ul class="dropdown">
    {% for item in site.data.navbar %}

      {% if item.content %}

          <!-- Dropdown -->
          <li>
            <a href="#">{{ item.name }}</a>

            <ul>
            {% for content in item.content %}
              {% if page.lang == lang %}
                <li><a href="{{ content.link | relative_url }}">{{ content.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          
      {% else %}

          <!-- Main contents -->
          {% if page.lang == "ja" %}
            <li><a href="{{ item.ja | relative_url }}">{{ item.name }}</a></li>
          {% else %}
            <li><a href="{{ item.en | relative_url }}">{{ item.name }}</a></li>
          {% endif %}

      {% endif %}
    {% endfor %}
  </ul>
</nav>
