@import "mixin";

/* about.html */
.profile {
    display: grid;

    grid-template-areas   : 
        "short  photo ."
        "career  career .";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 0.3fr auto;
    column-gap: 6%;


    @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

$myselfareas: short, photo, career;
@each $area in $myselfareas {
    .#{$area} {
        grid-area: #{$area};
    }
}  



img {
    max-width: 300px;
    height: auto;
    margin-bottom: 0;
    border-radius: 5%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    @include breakpoint(sm) {
        max-width: 200px;
    }
}

.about {
    margin: 0;
    padding: 5%;

    @include breakpoint(sm) {
        font-size: 90%;
    }

    hr {
        border-top: 2px double var(--theme-sub-color-dark);
        position: relative;
        z-index: -1; 
    }

    h2 {
        margin-bottom: 0;
    }
    .short {
        margin-bottom: 0;
        width: 100%;
        ul { 
            @include box-style(); 
            font-size: 120%;
            list-style-type: none;

            li {
                padding-bottom: 5%;
            }
        }

    }
    .career {
        margin-top: 0;
        ul { 
            @include box-style();
            font-size: 120%;
            list-style-type: disc;
            li {
                padding-bottom: 2%;
            }
        }
    }
}