@import "mixin";

/* about.html */
.profile {
    display: grid;

    grid-template-areas   : 
        "short  photo"
        "career  photo";
    grid-template-columns: 1.8fr auto;
    grid-template-rows: 0.3fr auto;
    column-gap: 3%;


    @include breakpoint(sm) {
        grid-template-areas   : 
        "short  photo ."
        "career  career .";
        grid-template-columns: 1.8fr auto;
    }
}

$myselfareas: short, photo, career;
@each $area in $myselfareas {
    .#{$area} {
        grid-area: #{$area};
    }
}  

img {    
    height: auto;
    margin-top: 20%;
    margin-bottom: 0;
    
    @include breakpoint(sm) {
        max-width: 100px;
    }
}

.photo {
    img{
        max-width: 300px;
        border-radius: 5%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
    
}

.research {
    p {
        font-size: 120%;
        margin-bottom: 2%;
        margin-top: 0;
    }
    
    .intro {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        img {
            max-width: 500px;
            margin-top: 0%;
        }
        @include breakpoint(sm) {
            flex-direction: column;
        }
    }

    h2 {
        font-weight: 600;
    }

    .works1, .works2 {
        display: flex;
        flex-direction: column;
        gap: 0;

        img {
            width: 100%;
            height: auto;
            margin-top: 0%;
            display: block;
        }

        @include breakpoint(sm) {
            img {
                max-width: 500px;
                height: auto;

            }
        }
    }
}

.about {
    margin: 0;
    padding: 5%;

    @include breakpoint(sm) {
        font-size: 90%;
    }

    hr {
        border-top: 2px double var(--theme-sub-color-dark);
        position: relative;
        z-index: -1; 
    }

    h1 {
        font-size: 200%;
        margin-bottom: 0;
    }
    h2 {
        margin-bottom: 0;
    }
    .short {
        margin-bottom: 0;
        width: 100%;
        ul { 
            @include box-style(); 
            font-size: 120%;
            list-style-type: none;

            li {
                padding-bottom: 1%;
            }
        }

    }
    .career {
        margin-top: 0;
        ul { 
            @include box-style();
            font-size: 120%;
            list-style-type: disc;
            li {
                padding-bottom: 1%;
            }
        }
    }

}

