@import "mixin";

.index {
    position: relative; 
    background-image: url('../images/network4.png'); 
    background-position: 50vw -10vh; 
    background-repeat: no-repeat; 
    background-size: auto; 
    z-index: -1;
    padding-left: 2rem;
    padding-right: 0;

    h1 {
        font-size: 250%;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        @include breakpoint(md) {
            font-size: 180%;
        }

        @include breakpoint(sm) {
            font-size: 140%;
        }
    }

    h2, h3, h4 {
        margin-bottom: 0;
        font-size: 150%;
        
        @include breakpoint(md) {
            font-size: 130%;
        }

        @include breakpoint(sm) {
            font-size: 100%;
        }
    }

    ul {
        @include box-style();
        font-size: 120%;

        @include breakpoint(sm) {
            font-size: 90%;
        }
    }
    
    hr {
        margin: 2rem 0;
        position: relative;
        right: 30%;
        width: 100%;
        border-top: 5px double var(--theme-sub-color-dark);
        z-index: -10; 
    }

}

.container {
    display: flex;
    flex-direction: row;
    align-items: strech;
    justify-content: strech;
    column-gap: 5%;

    @include breakpoint(md) {
        flex-direction: column;
        row-gap: 2%;
        justify-content: strech;
        align-content: strech;
    }
}

.myself {
    display: block;
    padding-bottom: 5%;
    margin-top: 2%;
    width: 40%;

    li {
        padding-bottom: 0.5rem;
    }

    @include breakpoint(md) {
        width: 90%;
    }
}

.news {
    display: block;
    padding-bottom: 5%;
    margin-top: 2%;
    width: 50%;
    ul {  
        @include box-style();
        li {
            margin: 2% 3%;
        }        
     }

    @include breakpoint(md) {
        width: 90%;
    }
}