/* default.html */
.layout_body {
  display: grid;
  
  grid-template-areas   : 
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr 100px;
  min-height: 100vh;
  row-gap: 0;
}

$areas: header, main, footer;
@each $area in $areas {
  .#{$area} {
    grid-area: #{$area};
  }
}

/* header */
  .header {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;

  }

  /* lang.html */
  .layout_lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* navbar.html */
  .layout_navbar {
    padding: 0 1rem;
    width: 100%;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

/* about.html */
.profile {
    display: grid;

    grid-template-areas   : 
        "short short photo"
        "career career career";
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
}

$mayselfareas: short, photo, career;
@each $area in $mayselfareas {
    .#{$area} {
        grid-area: #{$area};
    }
}  
