:root {
  --theme-main-color: rgb(0, 62, 43);
  --theme-main-color-transparent: rgba(0, 62, 43, 0.609);
  --theme-sub-color: #c3dad5d4;
  --theme-sub-color-dark: rgb(118, 136, 132);
  --background-color: rgb(250, 245, 235);
  --box-color: rgba(251, 248, 243, 0.655);
  --border-color: rgb(4, 165, 116);
  --border-width: 2px;
  --border-style: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%; 
}

h1, h2{
  font-family: 'Raleway', 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none; 
  color: var(--theme-main-color);
}

