@import "mixin";

.pubtop {
    padding: 0% 2%;
    margin:  0% 2%;
    border-bottom: 4px double var(--theme-sub-color);
}
.pub {
    
    font-family: 'Lexend', 'Noto Sans JP', sans-serif;
    width: 80%;           
    margin: 0 auto;       
    padding: 5% ;

    h1 {
        font-size: 150%;
        font-weight: bold;
        margin-bottom: 1%;
    }
    
    ol {
        counter-reset: item;
        list-style-type:none;
        text-indent: -20px;
        
        @include box-style();

        li {
            margin-bottom: 1rem;
            padding: 0 2%;
            font-weight: 300;
        }

        li::before {
            counter-increment: item;
            content: counters(item, ".") ". ";
            font-weight: bold;
            color: #333;             
          }
    }

}