@mixin box-style($boxcolor: var(--box-color), $border-style: var(--border-style)) {
    background-color: $boxcolor;
    margin-top: 0;
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow: $border-style;
  }


.pub {
    
    width: 70%;           
    max-width: 1200px;    
    margin: 0 auto;       
    padding: 20px ;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    ol {
        counter-reset: item;
        list-style-type:none;
        text-indent: -20px;
        padding: 1rem 2rem;
        
        @include box-style();

        li {
            margin-bottom: 1rem;
        }

        li::before {
            counter-increment: item;
            content: counters(item, ".") ". ";
            font-weight: bold;
            color: #333;             
          }
    }
    


}