
/* Navibar base*/
nav {
    background-color: #bcbcbc00;
    text-align: center;
    padding: 10pt;
    border-bottom: 0.8px solid #ddd;
  }
  
  nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0 ;
  }
  
  nav ul li {
    display: inline-block; 
    position: relative;
    width: 18%;
    min-width: 90px
  }
  
  nav li:not(:last-child){
    border-right:2px solid #ddd;
    }

  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  nav ul li.current a{
    color: #f35e31;
    }

  nav ul li a:hover {
    text-decoration: underline; 
    color: #db9b3a;    
  }


  /* Dropdown menu*/
  .menu {
    display: none; 
    position: absolute;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
}

.menu ul a {
  line-height: 40px; 
  z-index: 1;
}

nav ul li .menu {
  top: 100%; /* 親要素の下に配置 */
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 10;
  margin: 0;
  border: 1px solid #ccc;
  width: 150px; /* ドロップダウンの幅 */
}

li:hover .menu {
    display: block; /* ホバー時に表示 */
}

.menu li {
    list-style-type: none; /* リストスタイルを無くす */
    padding: 5px 10px; /* パディング */
}

.menu li a {
    color: black; /* テキストカラー */
    text-decoration: none; /* 下線を無くす */
    display: block;
}

.menu li a:hover {
    background-color: #dedede; /* ホバー時の背景色 */
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}