footer {
    color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    text-align: left; 
    border-top: 4.5px solid #bcc3c2d4; /* 上に罫線を追加 */
    padding: 20px 50px;
    margin-top: 20px; 
    width: 100%;
    position: relative; /* フッターが上に重ならないように */
    bottom: 0;
    line-height: 0.9;
    list-style-type: none;
    background-color: rgb(118, 136, 132);
}

footer > * {
    flex: 1; /* 各列を均等に配置 */
    margin: 0 15px /* 列の間に少しマージンを追加 */
}

.affiliation li {
    list-style-type:none;
    margin-bottom: 5px;
}