
body {
    background-color: #ffffff;
}

.page {
    display: flex;
    gap: 20px;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: large;
}

h1 {
    position: relative; /* 疑似要素の基準を設定 */
    display: inline-block; /* コンテンツサイズにフィット */
    background-color: #c3dad5ec; /* 青色の背景 */
    padding: 15px 30px; /* 内側の余白 */
    color: rgb(252, 252, 252); /* 文字色 */
    font-size: 1.5em; /* 文字サイズ調整 */
    text-align: center; /* テキスト中央揃え */
    margin: 20px 0; /* 上下の余白を調整 */
    z-index: 1; /* テキストを前面に */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1::before {
    content: ''; /* 疑似要素を空で作成 */
    position: absolute; /* 相対位置で配置 */
    top: 3px; /* 上方向に少しずらす */
    left: 3px; /* 左方向に少しずらす */
    width: 100%; /* 親要素と同じ幅 */
    height: 100%; /* 親要素と同じ高さ */
    border: 3px solid #012821da; /* 黒枠を追加 */
    z-index: -1; /* 青背景の後ろに配置 */
}


/* サイドバー全体 */
.sidebar {
    width: 210pt;
    background-color: #012821d4;
    padding: 20px;
    margin-right: 30pt;
    border-bottom-right-radius: 16px;
    box-shadow: 0 16px 16px rgb(186, 186, 186);
    color: #ffffff;
}

/* サイドバーの見出し */
.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #f0f6fe;
}

/* リスト項目のスタイル */
.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #f0f6fe;
}

.sidebar a {
    color: rgb(255, 255, 255); /* 未訪問のリンク */
    text-decoration: none;
}

.sidebar a:visited {
    color: rgb(248, 248, 248); /* 訪問済みのリンク */
}

.sidebar a:hover {
    color: rgb(162, 231, 254); /* マウスホバー時 */
    text-decoration: underline;
    
}

.sidebar a:active {
    color: rgb(255, 170, 0); /* クリック中 */
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a {
    text-decoration: none;
    color: #0073e6;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.sidebar-item a:hover {
    color: #005bb5;
    font-weight: bold;
}

code {
    font-size: 1.5em;  
}

pre {
    background-color: #c3dad5d4;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a0b4afd4;
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 80%;

}

pre code {
    font-size: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #525d6f;
    display: block;
    padding: 0;
    border: none;
}

img {
    cursor: zoom-in;
  }