
.pub {
    font-family: Nanum Gothic;
    width: 60%;           
    max-width: 1200px;    
    margin: 0 auto;       
    padding: 20px;
}
  
.pub li {
  font-family: Nanum Gothic;
  font-size: 110%;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 5%;
  line-height: 1.6;
}

ol {
  counter-reset: item;
  list-style-type:none;
  text-indent: -20px;
  background-color: #f2f2f2;
}

ol li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
  font-weight: bold;
  color: #333; 
}

.pubtop {
  display: inline-block; /* インラインブロックで表示 */
  align-items: center;
  padding: 10px 20px; /* 上下の余白10px、左右の余白20px */
  margin-top: 2%;
  margin-left: 20%;
  background-color: #4c72af; /* ボタンの背景色 */
  color: white; 
  text-decoration: none; 
  border-radius: 25px;
  font-size: 16px; 
  transition: background-color 0.3s;
}

.pubtop:hover {
  background-color: #4c7fafde;
}