---
layout: default
title: Publications
lang: ja
en_path: "/_contents/publications/index_en.html"
---

<a href="https://scholar.google.com/citations?user=YaIBsrwAAAAJ&hl=ja" class="pubtop">Google scholar</a>


<main class="pub">

    <h1>査読付き論文</h1> 
    <hr>
    <ol>
    {% for pub in site.data.publications.publications %}        
        {% assign metadata = pub[1] %}
        
            <li>
                {{ metadata.AU }}., ({{ metadata.PY }}).<br>
                <b>{{ metadata.TI }}</b>.  <i>{{ metadata.JO }}.</i> <br>
                DOI: <a href="https://doi.org/{{ metadata.DO }}">{{ metadata.DO }}</a>
            </li>
        
    {% endfor %}
    </ol>

    <h1>プレスリリース</h1> 
    <hr>
    <ol class="press">
    {% for pub in site.data.publications.press %}                       
        <li>{{ pub.name }}.</li>       
        <a href="{{ pub.url }}">{{ pub.url }}</a>         
    {% endfor %}
    </ol>

    
</main>