
<script type="text/javascript">
  $(function(){
    
    $("ul.rwiki-dropdown li").click(function(e){
      e.stopPropagation(); 
      $(this).siblings().find("ul").slideUp(150); 
      $(this).children("ul").slideToggle(150); 
    });

    $('html').click(function() {
      $('ul.rwiki-dropdown ul').slideUp(150);
    });

    const hamburger = document.getElementById("js-hamburger");
    const dropdown = document.getElementById("js-dropdown");

    if (hamburger && dropdown) {
      hamburger.addEventListener("click", function(e) {
        e.stopPropagation();
        dropdown.classList.toggle("active");
      });
    }
    
  });
</script>

<div class="rwiki-sidebar">

  <!-- hamburger -->
  <button class="hamburger" id="js-hamburger">    
    <i class="fa-solid fa-bars"></i>
    <span class="menu-text">Menu</span>
  </button>

  <ul class="rwiki-dropdown">
    {% for item in site.data.RWIKI %}
      {% if item.submenu %}
        <li>
          <a href="#">{{ item.name }}</a>
          <ul> 
            {% for subitem in item.submenu %}
              <li><a href="{{ subitem.link }}">{{ subitem.subname }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>

</div>
