.rwiki {
    background-color: var(--background-color);
    padding: 1rem;

    font-size: 115%;
    font-weight: 300;

    h1, h2{
        color: var(--theme-main-color);        
    }

    border-left: var(--border-width) solid var(--theme-main-color);

    > h1 {
        position: relative;
        display: inline-block;
        background-color: #a9c4beec; 
        padding: 2.5% 5%; 
        color: rgb(252, 252, 252); 
        font-size: 225%;
        text-align: center;
        margin: 2.5% 0;
        z-index: 1; 
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.82);
        
    }

    > h1::before {
        content: ''; /* 疑似要素を空で作成 */
        position: absolute; /* 相対位置で配置 */
        top: 5%; /* 上方向に少しずらす */
        left: 2.5%; /* 左方向に少しずらす */
        width: 100%; /* 親要素と同じ幅 */
        height: 100%; /* 親要素と同じ高さ */
        border: 4px solid var(--theme-main-color); /* 黒枠を追加 */
        z-index: -1; /* 青背景の後ろに配置 */
    }

    @include breakpoint(md) {
        h1 { font-size: 150%; }
        h2 { font-size: 120%; }
    }

    @include breakpoint(sm) {
        h1 { font-size: 120%; }
        h2 { font-size: 90%; }
    }

    table {
        font: "Zen Kaku Gothic New", sans-serif;
        margin:  auto;
        border-collapse: collapse;
        width: 80%;
        font-size: 100%;
        font-weight: 350;
        color: #000000; /* 文字色 */
        border:2mm ridge rgba(126, 170, 158, 0.6) ;
        background-color: #e7f0eece;

        th, td {
            padding: 1% 2%;
            border:solid #333 1px;
            margin:  auto;
        }
    }
    
}


code {
    color: #000000; /* 文字色 */
    font-family: "Source Code Pro", monospace; /* フォント */
    font-size: 100%; /* 文字サイズ */
    font-weight: 100;
    padding: 2px 5px; /* 余白 */
    border-radius: 3px; /* 角丸 */
    border: 1px solid #ddd; /* 枠線 */
    margin-top: 5%;
}

pre, .entry-content pre {
    margin: 1% 5% 2% 0px;
}

pre > code, .entry-content pre > code {
    font-size: 1.1em;
    margin: 0;
    font-family: monospace;
    padding: 1% 2%;
    box-sizing: border-box;
    display: block;
    background: #222222;
    color: #cae8e1e6;
    overflow: auto;
    white-space: pre;
    border-radius: 2%;
    border-color: var(--theme-sub-color);
    border-width: var(--border-width);
    border-style: solid;
}