---
layout: default
---

<article class="about">
    <a href='https://researchmap.jp/hiroakif93' target='_blank' class="rmap">
        <img title='researchmap' alt='researchmap' src='https://researchmap.jp/outline/img/researchmap220.gif' />
    </a>
    <section class="profile">
        
        <div class="short">
            {% if page.lang == "ja" %}
                <h2>自己紹介</h2>
            {% else %}
                <h2>My Profile</h2>
            {% endif %}
            <ul>
                {% for item in site.data.myself.short %}
                    {% if page.lang == "ja" %}
                        <li>{{ item.ja }}</li>
                    {% else %}
                        <li>{{ item.en }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        <aside class="photo">
            <img src="{{ site.baseurl}}/assets/images/myphoto.jpg" alt="プロフィール写真"> 
        </aside>

        <div class="career">
            {% if page.lang == "ja" %}
                <h2>経歴</h2>
            {% else %}
                <h2>Career</h2>
            {% endif %}
            <ul>            
                {% if page.lang == "ja" %}
                    {% for item in site.data.myself.history.ja %}   
                        <li>{{ item }}</li>
                    {% endfor %}
                {% else %}
                    {% for item in site.data.myself.history.en %}   
                        <li>{{ item }}</li>
                    {% endfor %}
                {% endif %}            
            </ul>
        </div>

    </section>

    <hr>

    <section class="research">
        <h1>研究</h1>

        <div class="intro">
            <div class="text">
                <p>　自然界の生き物は、他の生物種と相互作用しながら生きており、生態系の中でそれぞれが何らかの役割を担っています。
                    私は、その中でも<b>「生物群集を形作った種」</b>や<b>「群集構造の安定化に寄与する種」</b>に関心を持ち、研究を行っています。
                    しかし、生物種間の相互作用は、環境条件や群集の構成によって変化するため、それを統一的に理解し、生態系に普遍的な法則を見出すことは容易ではありません。
                </p>
                <p>　そこで私は、生物群集の振る舞いを再構築するトップダウン的アプローチと、
                    ゲノム解析などに基づいて相互作用を推定するボトムアップ的アプローチを組み合わせ、
                    多角的に生物群集を俯瞰し、その安定化メカニズムを解明することを目指しています。</p>
            </div>
            <div>
                <img src="{{ site.baseurl}}/assets/images/species_interaction.png"> 
            </div>           
        </div>
        
        <article class="works1">
            <h2>細菌群集動態の安定性と予測</h2>
            <p>　生物群集動態は、しばしば急激な種組成の変化を示すことが知られています。
                これは、確率的な挙動・もしくは安定性地形の変化による安定状態間の遷移や、高次元アトラクタ上の状態間の移動と仮定できます。私は、これらの動態メカニズムを捉えることができる2つの手法を適用し、
                遷移のしやすさや移動の大きさ（不安定性）を定量することで、生物群集の急激な動態変化は予測可能であることを示しました。
                <a href="https://doi.org/10.1186/s40168-023-01474-5">[Link]</a> </p>
            <img src="{{ site.baseurl}}/assets/images/works1.png"> 
        </article>
        
        <article class="works2">
            <h2>急激な動態変化を引き起こす生態学的プロセス</h2>
            <p>　限られた資源の中では、資源を獲得できた種しか存在できない（ニッチ競争）と考えられる一方で、細菌の場合は、他の細菌が出す二次代謝産物を利用する（Cross-feeding）と呼ばれる現象があり、競争を緩和することが考えられます。
                これら2つの要因の相対的な重要性を定量することで、上記研究の急激な動態変化を説明できる可能性を提示しました。具体的には、ショットガンメタゲノム解析を用いて、各細菌種のドラフトゲノムを復元し、種間で交換しあう代謝産物ネットワークの構造と
                種間で類似する遺伝子構成を見ることで、競争の強さを定量しました。その結果、代謝産物ネットワークのフィードバック構造や、ニッチ空間の密度から群集動態の変化を予測できることを示唆しました。
                <a href="https://doi.org/10.1186/s40168-023-01474-5">[Link1]</a>,
                <a href="https://doi.org/10.3389/fmicb.2023.1261137">[Link2]</a> 
            </p>
            <img src="{{ site.baseurl}}/assets/images/works2.png"> 
        </article>
    </section>
</article>

<hr>

<!--
<div class="research">

  <h1>研究</h1>
  <hr>
  <h2>細菌群集動態の安定性と予測</h2>
  <h2>細菌群集の安定状態</h2>

</div>

--> 
