<!doctype html>
<html lang="ja">

  <head>
    <link rel="icon" href="/assets/images/DNA.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>
    <meta name=”description“ content={{ page.meta_description }}/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    
    <!-- font -->
    {% include font.html %}
    {% feed_meta %}
    {% seo %}
    
  </head>

  <!-- Main -->
  <body>
  <div class="layout_default">
  
    <header class="header">
      {% include lang.html %}
      {% include navbar.html %}
    </header>
    
    <main class="main">
      {{ content }}
    </main>

    <!-- footer -->
    <footer class="footer">
      {% include footer.html %}
    </footer>
  
  </div>
  </body>

</html>