<!doctype html>

<html>
  <!-- Header: HTML properties -->
  <head>
    <link rel="icon" href="/assets/images/DNA.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- appearance on search engine -->
    <title>{{ page.title }}</title>
    <meta name=”description“ content={{ page.meta_description }}/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/js/sidebar.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr-languages/1.8.0/lunr.multi.min.js"></script>
    <script>
      window.relearn = window.relearn || {};
      // configuration
      window.relearn.min = ``;
      window.relearn.relBasePath='.';
      window.relearn.relBaseUri='.';
      window.relearn.absBaseUri='http:\/\/localhost:1313';
      window.relearn.contentLangs=['en'];
      window.relearn.index_js_url="/searchindex.en.js?1742014862";
      window.relearn.disableAnchorCopy=false;
      window.relearn.disableAnchorScrolling=false;
      window.relearn.disableInlineCopyToClipboard=false;
      window.relearn.enableBlockCodeWrap=true;
      // variant stuff
      window.relearn.themevariants = [ 'auto' ];
      window.relearn.customvariantname = "my-custom-variant";
      window.relearn.changeVariant = function(variant) {
        var oldVariant = document.documentElement.dataset.rThemeVariant;
        window.localStorage.setItem(window.relearn.absBaseUri + "/variant", variant);
        document.documentElement.dataset.rThemeVariant = variant;
        if (oldVariant != variant) {
          document.dispatchEvent( new CustomEvent('themeVariantLoaded', { detail: { variant, oldVariant } }) );
        }
      }
      window.relearn.markVariant = function() {
        var variant = window.localStorage.getItem(window.relearn.absBaseUri + "/variant");
        var select = document.querySelector("#R-select-variant");
        if (select) {
          select.value = variant;
        }
      }
      window.relearn.initVariant = function() {
        var variant = window.localStorage.getItem(window.relearn.absBaseUri + "/variant") ?? "";
        if( variant == window.relearn.customvariantname ){
        }else if( !variant || !window.relearn.themevariants.includes(variant) ){
          variant = window.relearn.themevariants[0];
          window.localStorage.setItem(window.relearn.absBaseUri + "/variant", variant);
        }
        document.documentElement.dataset.rThemeVariant = variant;
      }
      window.relearn.initVariant();
      window.relearn.markVariant();
      // translations
      window.T_Copy_to_clipboard = `Copy to clipboard`;
      window.T_Copied_to_clipboard = `Copied to clipboard!`;
      window.T_Copy_link_to_clipboard = `Copy link to clipboard`;
      window.T_Link_copied_to_clipboard = `Copied link to clipboard!`;
      window.T_Reset_view = `Reset view`;
      window.T_View_reset = `View reset!`;
      window.T_No_results_found = `No results found for "{0}"`;
      window.T_N_results_found = `{1} results found for "{0}"`;
    </script>
    <!-- font -->
    {% include font.html %}
    {% feed_meta %}
    {% seo %}
    
  </head>

  <!-- Main contents -->
  <body class="rwiki-layout">
  
    <!--  Header  -->
    <header class="rwiki-header">
      <a href="/">Hiroaki Fujita's Website</a>
    </header>
    
    <!--  Search bar  -->
    <aside class="search-bar">
      <h1>
        <a href="{{ site.data.RWIKI.link }}">
          R wiki
        </a>
      </h1>
      <!--  {% include rwiki/searchbar.html %} -->
    </aside>
    
    <!--  Navbar  -->
    <nav class="sidebar"> 
      {% include rwiki/sidebar.html %}       
    </nav>
    
    <!--  Markdown parts  -->
    <main class="rwiki">
      {{ content }}
    </main>

  
    <!-- ### Footer: HTML properties ### -->
    <!-- footer -->
    <footer class="footer">
      {% include footer.html %}
    </footer>

</body>
</html>