<!doctype html>

<html>
  <!-- Header: HTML properties -->
  <head>
    <link rel="icon" href="/assets/images/DNA.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- appearance on search engine -->
    <title>{{ page.title }}</title>
    <meta name=”description“ content={{ page.meta_description }}/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/js/sidebar.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>

    <!-- font -->
    {% include font.html %}
    {% feed_meta %}
    {% seo %}
    
  </head>

  <!-- Main contents -->
  <body class="rwiki-layout">
  
    <!--  Header  -->
    <header class="rwiki-header">
      <a href="/">Hiroaki Fujita's Website</a>      
    </header>
    
    <!--  Sidebar  -->
    {% include rwiki/sidebar.html %}  
    
    <!--  Markdown parts  -->
    <main class="rwiki">
      {{ content }}
    </main>

  
    <!-- ### Footer: HTML properties ### -->
    <!-- footer -->
    <footer class="footer">
      {% include footer.html %}
    </footer>

</body>
</html>