/* css styles */

body {
  
}

.home-page {
  background-image: url('images/network.jpg');
  background-size: 500px; 
  background-position: 120% 10%; 
  background-repeat: no-repeat;
  min-height: 100vh; 
  /*padding: 20px; */
}